.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 189px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 40px auto 0 8px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; margin: 8px 9px 0 auto}
.u-section-1 .u-text-2 {font-size: 1rem; font-style: normal; font-weight: normal; margin: -53px 210px 49px 8px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 7px}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 18px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 5px}
.u-section-1 .u-text-2 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 4px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-left: 2px} }.u-section-2 .u-sheet-1 {min-height: 38px}.u-block-b8d3-1 {margin-top: 0; margin-bottom: 0}
.u-block-b8d3-2 {position: absolute; bottom: 10px}
.u-block-b8d3-5 {position: absolute; left: 0; width: 65px; height: 65px; right: auto}
.u-block-b8d3-4 {position: absolute; right: 0}.u-section-3-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/woman-on-black-folding-wheelchair-2026764.jpg"); background-position: 50% 50%}
.u-section-3-1 .u-sheet-1 {min-height: 800px}
.u-section-3-1 .u-text-1 {margin: 246px 350px 0 -67px}
.u-section-3-1 .u-text-2 {margin: 11px auto 0 0}
.u-section-3-1 .u-text-3 {margin: 11px 715px 0 0}
.u-section-3-1 .u-btn-1 {background-image: none; border-style: none; margin: 11px auto 60px 0} 

@media (max-width: 1199px){ .u-section-3-1 .u-sheet-1 {min-height: 660px}
.u-section-3-1 .u-text-1 {margin-right: 250px}
.u-section-3-1 .u-text-3 {margin-right: 515px} }

@media (max-width: 991px){ .u-section-3-1 .u-sheet-1 {min-height: 506px}
.u-section-3-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3-1 .u-text-3 {margin-right: 295px} }

@media (max-width: 767px){ .u-section-3-1 .u-sheet-1 {min-height: 380px}
.u-section-3-1 .u-text-3 {margin-right: 115px} }

@media (max-width: 575px){ .u-section-3-1 .u-sheet-1 {min-height: 287px}
.u-section-3-1 .u-text-3 {margin-right: 0} }.u-section-3-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/joyful-adult-daughter-greeting-happy-surprised-senior-mother-3768131.jpg"); background-position: 50% 50%}
.u-section-3-2 .u-sheet-1 {min-height: 800px}
.u-section-3-2 .u-text-1 {margin: 246px 350px 0 -67px}
.u-section-3-2 .u-text-2 {margin: 11px auto 0 0}
.u-section-3-2 .u-text-3 {font-style: italic; font-size: 1.25rem; margin: 11px 595px 0 0}
.u-section-3-2 .u-btn-1 {background-image: none; border-style: none; margin: 11px auto 60px 0} 

@media (max-width: 1199px){ .u-section-3-2 .u-sheet-1 {min-height: 660px}
.u-section-3-2 .u-text-1 {margin-right: 250px}
.u-section-3-2 .u-text-3 {margin-right: 395px} }

@media (max-width: 991px){ .u-section-3-2 .u-sheet-1 {min-height: 506px}
.u-section-3-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3-2 .u-text-3 {margin-right: 175px} }

@media (max-width: 767px){ .u-section-3-2 .u-sheet-1 {min-height: 380px}
.u-section-3-2 .u-text-3 {margin-right: 0} }

@media (max-width: 575px){ .u-section-3-2 .u-sheet-1 {min-height: 287px} }.u-section-4 .u-sheet-1 {min-height: 30px}.u-section-5 {background-image: linear-gradient(#478ac9, #5c78e7)}
.u-section-5 .u-sheet-1 {min-height: 1231px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 45px auto 0 107px}
.u-section-5 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: 49px auto 0 256px}
.u-section-5 .u-icon-1 {height: 116px; width: 116px; background-image: none; margin: -30px auto 0 107px}
.u-section-5 .u-text-3 {width: 629px; margin: -66px 256px 0}
.u-section-5 .u-btn-1 {background-image: none; border-style: none; margin: -4px 256px 0 auto}
.u-section-5 .u-text-4 {font-size: 1.5rem; font-weight: 700; margin: 32px auto 0 256px}
.u-section-5 .u-icon-2 {height: 116px; width: 116px; background-image: none; margin: -24px auto 0 107px}
.u-section-5 .u-text-5 {width: 629px; margin: -72px 256px 0}
.u-section-5 .u-btn-2 {background-image: none; border-style: none; margin: 0 256px 0 auto}
.u-section-5 .u-text-6 {font-size: 1.5rem; font-weight: 700; margin: 28px 648px 0 256px}
.u-section-5 .u-icon-3 {height: 107px; width: 107px; background-image: none; margin: -18px auto 0 107px}
.u-section-5 .u-text-7 {width: 629px; margin: -69px auto 0}
.u-section-5 .u-btn-3 {background-image: none; border-style: none; margin: 0 256px 0 auto}
.u-section-5 .u-text-8 {font-size: 1.5rem; font-weight: 700; margin: 21px auto 0 256px}
.u-section-5 .u-icon-4 {height: 109px; width: 109px; background-image: none; margin: -14px auto 0 105px}
.u-section-5 .u-text-9 {width: 629px; margin: -75px auto 0}
.u-section-5 .u-btn-4 {background-image: none; border-style: none; margin: 19px 256px 0 auto}
.u-section-5 .u-icon-5 {height: 107px; width: 107px; background-image: none; margin: 32px auto 0 105px}
.u-section-5 .u-icon-6 {height: 49px; width: 49px; margin: -91px auto 0 119px}
.u-section-5 .u-icon-7 {height: 47px; width: 47px; margin: -22px auto 0 155px}
.u-section-5 .u-text-10 {width: 629px; margin: -32px 256px 0}
.u-section-5 .u-text-11 {font-size: 1.5rem; font-weight: 700; margin: -133px auto 0 256px}
.u-section-5 .u-btn-5 {background-image: none; border-style: none; margin: 107px 255px 31px auto} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {margin-left: 88px}
.u-section-5 .u-text-2 {margin-left: 211px}
.u-section-5 .u-text-3 {margin-right: 156px; margin-left: 129px}
.u-section-5 .u-btn-1 {margin-right: 56px}
.u-section-5 .u-text-4 {margin-left: 211px}
.u-section-5 .u-text-5 {margin-left: 156px; margin-right: 156px}
.u-section-5 .u-btn-2 {margin-right: 56px}
.u-section-5 .u-text-6 {margin-right: 548px; margin-left: 156px}
.u-section-5 .u-btn-3 {margin-right: 56px}
.u-section-5 .u-text-8 {margin-left: 211px}
.u-section-5 .u-btn-4 {margin-right: 56px}
.u-section-5 .u-text-10 {margin-left: 156px; margin-right: 156px}
.u-section-5 .u-text-11 {margin-left: 211px}
.u-section-5 .u-btn-5 {margin-right: 55px} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {margin-left: 68px}
.u-section-5 .u-text-2 {margin-left: 161px}
.u-section-5 .u-text-3 {margin-right: 59px; margin-left: 99px}
.u-section-5 .u-btn-1 {margin-right: 0}
.u-section-5 .u-text-4 {margin-left: 161px}
.u-section-5 .u-text-5 {margin-left: 46px; margin-right: 46px}
.u-section-5 .u-btn-2 {margin-right: 0}
.u-section-5 .u-text-6 {margin-right: 438px; margin-left: 46px}
.u-section-5 .u-btn-3 {margin-right: 0}
.u-section-5 .u-text-8 {margin-left: 161px}
.u-section-5 .u-btn-4 {margin-right: 0}
.u-section-5 .u-text-10 {margin-left: 46px; margin-right: 46px}
.u-section-5 .u-text-11 {margin-left: 161px}
.u-section-5 .u-btn-5 {margin-right: 0} }

@media (max-width: 767px){ .u-section-5 .u-text-1 {margin-left: 51px}
.u-section-5 .u-text-2 {margin-left: 121px}
.u-section-5 .u-icon-1 {margin-top: -68px}
.u-section-5 .u-text-3 {width: 540px; margin-top: -28px; margin-right: 0; margin-left: 74px}
.u-section-5 .u-btn-1 {margin-top: -11px}
.u-section-5 .u-text-4 {margin-top: 39px; margin-left: 121px}
.u-section-5 .u-text-5 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-5 .u-btn-2 {margin-top: -7px}
.u-section-5 .u-text-6 {margin-top: 35px; margin-right: 303px; margin-left: 0}
.u-section-5 .u-text-7 {width: 540px}
.u-section-5 .u-btn-3 {margin-top: -7px}
.u-section-5 .u-text-8 {margin-top: 28px; margin-left: 121px}
.u-section-5 .u-text-9 {width: 540px}
.u-section-5 .u-btn-4 {margin-top: 4px}
.u-section-5 .u-icon-5 {margin-top: 47px}
.u-section-5 .u-text-10 {width: 540px; margin-top: -47px; margin-left: 0; margin-right: 0}
.u-section-5 .u-text-11 {margin-top: -112px; margin-left: 121px}
.u-section-5 .u-btn-5 {margin-top: 86px; margin-bottom: 8px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {margin-left: 32px}
.u-section-5 .u-text-2 {margin-left: 76px}
.u-section-5 .u-icon-1 {margin-top: -106px}
.u-section-5 .u-text-3 {width: 340px; margin-top: 10px; margin-left: 47px}
.u-section-5 .u-btn-1 {margin-top: 462px}
.u-section-5 .u-text-4 {margin-top: -382px; margin-left: 76px}
.u-section-5 .u-icon-2 {margin-top: 35px}
.u-section-5 .u-text-5 {width: 340px; margin-top: -131px}
.u-section-5 .u-btn-2 {margin-top: 364px}
.u-section-5 .u-text-6 {margin-top: -293px; margin-right: 103px}
.u-section-5 .u-icon-3 {margin-top: -24px}
.u-section-5 .u-text-7 {width: 340px; margin-top: -63px}
.u-section-5 .u-btn-3 {margin-top: 271px}
.u-section-5 .u-text-8 {margin-top: -214px; margin-left: 76px}
.u-section-5 .u-icon-4 {margin-top: -19px}
.u-section-5 .u-text-9 {width: 340px; margin-top: -70px}
.u-section-5 .u-btn-4 {margin-top: 166px}
.u-section-5 .u-icon-5 {margin-top: -16px}
.u-section-5 .u-icon-6 {margin-top: -75px}
.u-section-5 .u-icon-7 {margin-top: -25px}
.u-section-5 .u-text-10 {width: 340px}
.u-section-5 .u-text-11 {margin-top: -247px; margin-left: 76px}
.u-section-5 .u-btn-5 {margin-top: 183px; margin-bottom: 0} }.u-section-6 .u-sheet-1 {min-height: 34px}.u-section-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/couple-elderly-man-old-34761.jpg"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 800px}
.u-section-7 .u-text-1 {margin: 209px auto 0 0}
.u-section-7 .u-text-2 {margin: 27px 498px 0 0}
.u-section-7 .u-text-3 {font-style: italic; margin: 27px 653px 0 0}
.u-section-7 .u-btn-1 {background-image: none; border-style: none; margin: 22px auto 60px 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 660px}
.u-section-7 .u-text-1 {font-weight: normal}
.u-section-7 .u-text-2 {margin-right: 538px}
.u-section-7 .u-text-3 {margin-right: 453px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 506px}
.u-section-7 .u-text-2 {margin-right: 412px}
.u-section-7 .u-text-3 {margin-right: 233px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 380px}
.u-section-7 .u-text-2 {margin-right: 309px}
.u-section-7 .u-text-3 {margin-right: 53px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 287px}
.u-section-7 .u-text-2 {margin-right: 195px}
.u-section-7 .u-text-3 {margin-right: 0} }.u-section-8 .u-sheet-1 {min-height: 34px}.u-section-9 {background-image: linear-gradient(#478ac9, #5c78e7); margin-top: 0; margin-bottom: 0}
.u-section-9 .u-sheet-1 {min-height: 849px}
.u-section-9 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 20px auto 0 107px}
.u-section-9 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: 55px auto 0 299px}
.u-section-9 .u-icon-1 {height: 107px; width: 107px; background-image: none; margin: -19px auto 0 132px}
.u-section-9 .u-text-3 {margin: -74px 200px 0 299px}
.u-section-9 .u-btn-1 {background-image: none; border-style: none; margin: 0 214px 0 auto}
.u-section-9 .u-icon-2 {height: 107px; width: 107px; background-image: none; margin: 29px auto 0 132px}
.u-section-9 .u-text-4 {margin: -55px 200px 0 299px}
.u-section-9 .u-text-5 {font-size: 1.5rem; font-weight: 700; margin: -127px auto 0 299px}
.u-section-9 .u-btn-2 {background-image: none; border-style: none; margin: 89px 214px 0 auto}
.u-section-9 .u-text-6 {font-size: 1.5rem; font-weight: 700; margin: 29px auto 0 299px}
.u-section-9 .u-icon-3 {height: 107px; width: 107px; background-image: none; margin: -32px auto 0 132px}
.u-section-9 .u-text-7 {margin: -61px 200px 0 299px}
.u-section-9 .u-btn-3 {background-image: none; border-style: none; margin: 20px 214px 60px auto} 

@media (max-width: 1199px){ .u-section-9 .u-text-1 {width: 297px; height: 76px; margin-left: 88px}
.u-section-9 .u-text-2 {margin-left: 247px}
.u-section-9 .u-icon-1 {margin-top: -95px}
.u-section-9 .u-text-3 {margin-right: 100px; margin-left: 199px}
.u-section-9 .u-btn-1 {margin-right: 14px}
.u-section-9 .u-text-4 {margin-right: 100px; margin-left: 199px}
.u-section-9 .u-text-5 {margin-left: 247px}
.u-section-9 .u-btn-2 {margin-right: 14px}
.u-section-9 .u-text-6 {margin-left: 247px}
.u-section-9 .u-text-7 {margin-right: 100px; margin-left: 199px}
.u-section-9 .u-btn-3 {margin-right: 14px} }

@media (max-width: 991px){ .u-section-9 .u-text-1 {margin-left: 68px}
.u-section-9 .u-text-2 {margin-left: 189px}
.u-section-9 .u-text-3 {margin-right: 0; margin-left: 79px}
.u-section-9 .u-btn-1 {margin-right: 0}
.u-section-9 .u-text-4 {margin-right: 0; margin-left: 79px}
.u-section-9 .u-text-5 {margin-left: 189px}
.u-section-9 .u-btn-2 {margin-right: 0}
.u-section-9 .u-text-6 {margin-left: 189px}
.u-section-9 .u-text-7 {margin-right: 0; margin-left: 79px}
.u-section-9 .u-btn-3 {margin-right: 0} }

@media (max-width: 767px){ .u-section-9 .u-text-1 {margin-left: 51px}
.u-section-9 .u-text-2 {margin-left: 142px}
.u-section-9 .u-text-3 {margin-left: 0}
.u-section-9 .u-text-4 {margin-left: 0}
.u-section-9 .u-text-5 {margin-left: 142px}
.u-section-9 .u-text-6 {margin-left: 142px}
.u-section-9 .u-text-7 {margin-left: 0} }

@media (max-width: 575px){ .u-section-9 .u-text-1 {margin-left: 32px}
.u-section-9 .u-text-2 {margin-left: 89px}
.u-section-9 .u-text-5 {margin-left: 89px}
.u-section-9 .u-text-6 {margin-left: 89px} }.u-section-10 {margin-top: 0; margin-bottom: 0}
.u-section-10 .u-sheet-1 {min-height: 38px}.u-section-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/woman-holding-baby-wearing-blue-jacket-1170899.jpg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-11 .u-sheet-1 {min-height: 800px}
.u-section-11 .u-text-1 {margin: 271px auto 0}
.u-section-11 .u-text-2 {margin: 30px auto 0}
.u-section-11 .u-btn-1 {background-image: none; border-style: none; margin: 53px auto 60px} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-11 .u-sheet-1 {min-height: 287px} }.u-section-12 {margin-top: 0; margin-bottom: 0}
.u-section-12 .u-sheet-1 {min-height: 38px}.u-section-13 {background-image: linear-gradient(#478ac9, #5c78e7); margin-top: 0; margin-bottom: 0}
.u-section-13 .u-sheet-1 {min-height: 772px}
.u-section-13 .u-group-1 {min-height: 156px; width: 800px; margin: 27px auto 0}
.u-section-13 .u-container-layout-1 {padding: 30px 60px}
.u-section-13 .u-text-1 {font-weight: 700; margin: 0}
.u-section-13 .u-text-2 {margin: 20px 0 0}
.u-section-13 .u-layout-wrap-1 {min-height: 443px; margin: 16px auto 0 0}
.u-section-13 .u-layout-cell-1 {min-height: 417px; background-position: 0% 0%}
.u-section-13 .u-container-layout-2 {padding: 30px}
.u-section-13 .u-image-1 {width: 109px; height: 109px; background-image: url("images/Nasrin.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-13 .u-text-3 {margin: 30px 0 0}
.u-section-13 .u-text-4 {margin: 20px 0 0}
.u-section-13 .u-layout-cell-2 {min-height: 417px; background-position: 0% 0%}
.u-section-13 .u-container-layout-3 {padding: 30px}
.u-section-13 .u-image-2 {width: 109px; height: 109px; background-image: url("images/Les.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-13 .u-text-5 {margin: 50px 0 0}
.u-section-13 .u-text-6 {margin: 100px 0 0}
.u-section-13 .u-layout-cell-3 {min-height: 417px}
.u-section-13 .u-container-layout-4 {padding: 30px}
.u-section-13 .u-image-3 {width: 109px; height: 109px; background-image: url("images/Gillian.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-13 .u-text-7 {margin: 56px 0 0}
.u-section-13 .u-text-8 {margin: 94px 0 0}
.u-section-13 .u-btn-1 {background-image: none; border-style: none; margin: 50px 16px 40px auto} 

@media (max-width: 1199px){ .u-section-13 .u-sheet-1 {min-height: 320px}
.u-section-13 .u-group-1 {width: 660px}
.u-section-13 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-13 .u-layout-cell-1 {min-height: 100px}
.u-section-13 .u-image-1 {width: 90px; height: 90px}
.u-section-13 .u-layout-cell-2 {min-height: 100px}
.u-section-13 .u-image-2 {width: 90px; height: 90px}
.u-section-13 .u-layout-cell-3 {min-height: 100px; background-position: 0% 0%}
.u-section-13 .u-image-3 {width: 90px; height: 90px}
.u-section-13 .u-btn-1 {margin-right: 0} }

@media (max-width: 991px){ .u-section-13 .u-group-1 {width: 505px}
.u-section-13 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-13 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-1 {width: 69px; height: 69px}
.u-section-13 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-2 {width: 69px; height: 69px}
.u-section-13 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-3 {width: 69px; height: 69px} }

@media (max-width: 767px){ .u-section-13 .u-sheet-1 {min-height: 420px}
.u-section-13 .u-group-1 {width: 474px}
.u-section-13 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-1 {width: 65px; height: 65px}
.u-section-13 .u-image-2 {width: 65px; height: 65px}
.u-section-13 .u-image-3 {width: 65px; height: 65px} }

@media (max-width: 575px){ .u-section-13 .u-group-1 {width: 340px} }.u-section-14 .u-sheet-1 {min-height: 48px}